h1{
    color: blue;
    font-weight: bold;
}

.highlight{
    background-color: yellow;
    font-style: italic;
}

#main-menu{
    border:black solid;
    border-radius: 10px;
}
.highlight .highlight{
    color: blue;
}
article p{
    border: blue solid 2px;
    border-style: dotted;
}

article h2{
    font-size: 0.5em;
    text-transform: uppercase;
}
#carre {
    width  : 180px;
    height : 180px;
    background : red;

}

